<p>
  By <strong><%= comment.author.name %></strong>
</p>

<p>
  <%= comment.body %>
</p>

<p>
  <% if policy(comment).destroy? %>
    <%= link_to 'Delete comment', [comment.post, comment],
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'btn btn-outline-dark'%>
  <% end %>
  <hr>
</p>
