<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= form.submit "Post comment", class: 'btn btn-lg btn-outline-primary' %>
  </p>
<% end %>
