<h1>Post</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>

<%= link_to "Previous Page", posts_path(page: @page - 1), {:disabled => true} %>
<%= link_to "Next Page", posts_path(page: @page + 1) %>
<%= link_to "New Post", new_post_path %>
